@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
*{
    text-emphasis: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: blueviolet;
    font-family: 'Poppins', sans-serif;
    color: white;
    scroll-behavior: smooth;
}
body{
    background-color: #1d1d1e;
}
section {
    height: 100vh;
    display: flex;
    margin: 0 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 3.5rem;
    font-weight: 700;
}
h2 {
    font-size: 3.5rem;
    font-weight: 300;
}
h3 {
    font-size: 2rem;
    font-weight: 500;
}
h4 {
    font-size: 1.2rem;
    font-weight: 500;
}
p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 300;
}
.title {
    margin: 2rem 0;
}
nav {
    background-color: white;
    position: sticky;
    top: 0;
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
nav .nav_item{
    margin: 0 1.5rem;
    color: #1d1d1e;
    cursor: pointer;
}
nav .nav_item:hover{
    color: blueviolet;
    transform: scale(1.1);
}
nav .nav_item.active{
    color: blueviolet;
}
.waveContainer .wave {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(images/wave.png);
    background-size: 1000px 100px;
}
.waveContainer .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 0;
    opacity: 1;
    animation-delay: 0s;
    top: 100;
}
.waveContainer .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: -1;
    opacity: 0.5;
    animation-delay: -5s;
    top: 110;
}
.waveContainer .wave.wave3{
    animation: animate 20s linear infinite;
    z-index: -2;
    opacity: 0.2;
    animation-delay: -2s;
    top: 115;
}
.waveContainer .wave.wave4{
    animation: animate2 25s linear infinite;
    z-index: -3;
    opacity: 0.7;
    animation-delay: -7s;
    top: 120;
}
@keyframes animate{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}
@keyframes animate2{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}
#home .contactInfo{
    height: 70px;
    width: 70px;
    margin: 50px;
    background-color: white;
    border-radius: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
}
#home .contactInfo:hover{
    transform: scale(1.1);
    background-color: blueviolet;
    color: white;
}
#home .logo {
    color: inherit;
    font-size: 1.7rem;
    transform: inherit;
}
#about .aboutContainer{
    display: flex;
}
#about .imgContainer{
    text-align: center;
    flex: 1;
}
#about img {
    width: 60%;
    border-radius: 30px;
}
#about .descriptionContainer{
    flex: 1;
}
@media (min-width: 751px) {
    .aboutContainer {
        flex-direction: row;
    }
    .descriptionContainer{
        text-align: justify;
    }
    p{
        width: 75%;
    }
    #about .title{
        margin-top: 0;
    }
}
@media (max-width: 750px) {
    .aboutContainer{
        flex-direction: column;
    }
    .descriptionContainer {
        text-align: center;
    }
    p {
        width: 100%;
    }
}
#education .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
#education .container .left{
    text-align: left;
    flex: 3;
}
#education .container .right{
    text-align: right;
    margin: 2rem 0;
    flex: 2;
    color: blueviolet;
}
#skills {
    flex-direction: column;
    text-align: center;
}
#skills .imgContainer{
    flex-direction: row;
}
#skills img{
    height: 4rem;
    margin: 3rem 2rem 0 2rem;
}