@font-face {
  font-family: 'NFL';
  src: url('../src/assets/fonts/NFL%20Chiefs.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Goulong';
  src: url('../src/assets/fonts/Goulong%20Bold%20Ouline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none;
  -webkit-scrollbar-width: none;
}

.fill-current {
  fill: currentColor;
}